Azul{
   color:#ffffff7b;
   color:#8dc1e4;
   color:#2471a3;
   color:#1f618d;
   color:#1a5276;
   color:#154360;
}
Gris{
   color:#b2babb;
   color:#99a3a4;
   color:#7f8c8d;
   color:#707b7c;
   color:#616a6b;
   color:#515a5a;
}