body{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.cursor-pointer{
    cursor: pointer;
}
a{
    color: #ffffffdb;
}
.bg-trans{
    background-color: #00000078;
}
.bg-dark-trans{
    background-color: #000000a9;
    transition: all 0.4s;
}
.bg-dark-trans-rpt{
    background-color: #000000ca;
    transition: all 0.4s;
}
nav{
    transition: all 0.4s;
}
.bg-footer{
    background: rgba(255, 255, 255, 0.075);
}
.bg-white-trans{
    background-color: #ffffffdb;
}
.bg-trans-items{
    background-color: rgba(118, 118, 118, 0.409);
}
.margin-left{
    margin-left: 6%;
    transition: all 0.3s;
}
.margin-left-width{
    margin-left: 16%;
    transition: all 0.3s;
}
.margin-left-nav{
    margin-left: 6.6%;
    margin-right: 1%;
    transition: all 0.3s;
}
.margin-left-width-nav{
    margin-left: 16.6%;
    margin-right: 1%;
    transition: all 0.3s;
}
.img-Bienes{
    width: 25%;
    height: 15%;
    transition: all 0.3s;
}
    .img-Bienes:hover{
        transform: scale(1.05);
        filter: drop-shadow(0px 0px 2px gray);
    }
.items-hover:hover{
    transform: scale(1.06);
    border: 2px solid black;  
    transition: all 0.2s;
    box-shadow: 0px 0px 30px -5px #ffffff;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.307);

}
.items-hover{
    transition: all 0.2s;
    border-radius: 15px;
    border: 2px solid #ffffff;
    color: white;
    transition: all 0.3s;
}
.items-hover-dash{
    transition: all 0.2s;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: white;
    box-shadow: 0px 0px 15px -5px #ffffff;
    transition: all 0.3s;
}
.shadowActive{
    filter: drop-shadow(0px 0px 6px #00d9ff);
}
.shadowActive1{
    filter: drop-shadow(0px 0px 4px white);
}
.shadowActive2{
    background-color: #00d9ff22;
    font-weight: bold;
}
.shadowActive3{
    color: #007bff;
}
.mod-hover a img{
    transition: all 0.3s;
}
.mod-hover a:hover img{
    transform: scale(1.2);
    transition: all 0.3s;
}
.mod-hover a{
    transition: all 0.3s;
    color: #ffffff;
}
.mod-hover a:hover{
    background-color:rgba(34, 34, 34, 0.472);
    transition: all 0.3s;
    color: #ffffff;
}
.shadow-mens{
    filter: drop-shadow(0px 0px 3px #00ce00);
}
.shadow-mens-open{
    filter: drop-shadow(0px 0px 3px #0008ff);
}
.shadow-blue{
    box-shadow: 0px 0px 15px -1px #3094ff;
}
.shadow-white{
    filter: drop-shadow(0px 0px 1px #f1f1f1);
}
.w-hr{
    width: 20%;
    transition: all 0.3s;
}
.item-eligenos:hover .w-hr{
    width: 100%;
    transition: all 0.3s;
}
.item-eligenos:hover .hover-bg{
    background-color: #44c1ff2b;
    transition: all 0.3s;
}
.bg-scroll{
    background-color: #000000e2;
}
.bg-gradiente{
    background-size: 200%;
    transition: .3s ;
}
.bg-gradiente-blue{
    background-image: linear-gradient( to left, #007bff73, #00f7ff87, #007bff73);

}
.bg-gradiente-green{
    background-image: linear-gradient( to left, #00943198, #c5e5388d, #00943198);

}
.bg-gradiente-red{
    background-image: linear-gradient( to left, #ea20275e, #ffc41260, #ea20275e);

}
.bg-gradiente:hover{
    background-position: right;
    transform: scale(1.08);
    transition: .3s ;
}
.shadow-text{
    text-shadow: 0px 0px 1px #f1f1f1;
}
.bg-blur{
    backdrop-filter: blur(10px);
}